.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  color: #78909c;
  background: linear-gradient(
    135deg,
    rgb(120, 185, 255) 0%,
    rgb(120, 185, 255) 50%,
    rgb(6, 131, 248) 50%,
    rgba(6, 131, 248) 100%
  );
}
